.App {
  text-align: center;
}

body {
  font-family: 'nanumsquare';
}

.modal {
  margin-top: 20px;
  padding: 20px;
  background: #eee;
  text-align: left;
}

.black-nav {
  background: black;
  width: 100%;
  display: flex;
  color : white;
  padding : 20px;
  font-weight: 600;
  font-size: 20px;
  margin-bottom: 30px;
}

.black-nav > div {
  margin-right: 50px;
}

.list-wrap {
  text-align: left;
  padding-left: 20px;
  padding-right: 20px;
}

.list > span:nth-child(1) {margin-right:20px;}

.dimmed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 1000;
}

.detail-wrap {
  padding: 20px;
  position: absolute;
  width: 300px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ffffff;
  box-shadow: 0 2px 7px rgba(0, 0, 0, 0.3);
}

.detail-wrap > div {text-align: left;}
.detail-title {
  display: flex;
  justify-content: space-between;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
